
input {
	size: 20;
}

body {
	background-color: #f5f5f5;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin-left: 4px;
	margin-right: 4px;
	margin-top: 0px;
	margin-bottom: 0px;
}

fieldset {
	margin-left: auto;
	margin-right: auto;
	width: 21%;
}

#search-form {
	margin-right: auto;
	margin-left: auto;
}

#search-table {
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

#search-options {
	text-align: center;
}

#search-results {
	border-collapse: collapse;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

#table-nav {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

#search-button {
	margin-top: 15px;
	margin-bottom: 20px;
}

#header_menu {
	width: 20%;
	margin-top: 11px;
	margin-left: 41.6%;
	position: absolute;
}

#hi {
	width: 200px;
	margin-left: 62%;
	margin-top: 16px;
	position: relative;

}

.buttons {
	box-shadow: 0px 3px 2px #555555;
	margin-left: 8px;
	margin-right: 8px;
}

td, th {
	padding: 8px;
}

#header {
	margin-bottom: 50px;
	width: 100%;
	height: 150px;
	background-color: #bdbdbd;
	box-shadow: 0px 3px 2px #555555;
}

#header_top {
	padding-top: 20px;
	font-size: 50px;
	width: 100%;
	height: 80px;
	color: #EEEEEE;
	text-align: center;
	background-color: #0288d1;
	box-shadow: 0px 2px 2px #555555;
}

#results {
	background-color: #FFFFFF;
	text-align: left;
	border: 1px solid black;
	padding-right: 27px;
	margin-left: auto;
	margin-right: auto;
}	

.body-home {
	text-align: center;
}

#body-logout {
	width: 30%;
	margin-left: 35%;
	text-align: center;
}

#register {
	margin-left: auto;
	margin-right: auto;
}

#register-table {
	border: 0px;
	margin-left: auto;
	margin-right: auto;
}

#reg-submit {
	text-align: center;
	padding-top: 20px;
}

#button {
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 5px;
	width: 70px;
	height: 25px;
	background: #EEEEEE;
	font-weight: bold;
	font-size: 15px
}

#rlink {
	margin-left: 2px;
	border-left: 6px;
	border-top: 5px;
}