body {
	font-size: 14px;
	background-color: #f5f5f5;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
}

td, th {
	padding: 6px;
}

#container {
	min-height: 100%;
	position: relative;
}

input {
	font-size: 14px;
}

fieldset {
	width: 13%;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
}

#hi {
	font-size: 14px;
	color: #333333;
	width: 200px;
	margin-left: 57%;
	padding-top: 32px;
}

#header_menu {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	margin-top: 11px;
	width: 100%;
}

#header {
	margin-bottom: 40px;
	width: 100%;
	height: 125px;
	background-color: #bdbdbd;
	box-shadow: 0px 3px 2px #555555;
}

#header_top {
	padding-top: 13px;
	font-size: 40px;
	width: 100%;
	height: 65px;
	color: #EEEEEE;
	text-align: center;
	background-color: #0288d1;
	box-shadow: 0px 2px 2px #555555;
}

.buttons {
	box-shadow: 0px 2px 2px #555555;
	margin-left: 10px;
	margin-right: 10px;
}

#body, #reg-submit {
	text-align: center;
}

#body {
	padding-bottom: 40px;
}

#search-results, #table-nav {
	margin-right: auto;
	margin-left: auto;
}

#rlink {
	margin-left: 2px;
	border-top: 5px;
}

#search-table, #register-table {
	margin-right: auto;
	margin-left: auto;
	text-align: left;
}

#reg-submit {
	padding-top: 20px;
}

#search-results {
	border-collapse: collapse;
}

#table-nav, #search-results {
	text-align: center;
	margin-top: 12px;
}

#search-button {
	margin-top: 12px;
	margin-bottom: 12px;
}

#search-field {
	margin-bottom: 18px;
	margin-right: 50px;
}

#results {
	background-color: #FFFFFF;
	text-align: left;
	border: 1px solid black;
	padding-right: 27px;
	margin-left: auto;
	margin-right: auto;
}	

#button {
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 5px;
	width: 70px;
	height: 25px;
	background: #EEEEEE;
	font-weight: bold;
	font-size: 14px
}

footer {
	background-color: #EEEEEE;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 32px;
	text-align: center;
	color: #BBBBBB;
	padding-top: 14px;
	box-shadow: 0px -2px 3px #BBBBBB;
}